@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


:root {
    --azul: #216288;
    --pistacho: #b9d553;
    --verde: #e5ffd4;
    --negro: var(--negro);
    --blanco:var(--blanco)

}

body {
    font-family: 'Open Sans', sans-serif; /* Fuente principal: Open Sans */
    font-size: 20px; /* Tamaño de fuente */
}

/* Eliminamos los margenes y el relleno blanco predeterminado */
* { 
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Cambiamos el color de fondo del encabezado */
.Cabecero {
        background-color: #216288;
        display: flex;
        width: auto;
        height: 220px; /* Cambia este valor según tus necesidades */
        align-items: start;
}

.imagen-logo1 {
    position: relative;
    left: 250px; /* Ajusta este valor para mover la imagen a la derecha */
    width: 190px; /* Ajusta este valor para cambiar el tamaño de la imagen */
    margin-top: 10px;
    size-adjust: 50%;
    height: 170px; /* Esto mantiene las proporciones de la imagen */
}

.Titulo-encabezado {
    position: relative;
    left: 500px;
    top: 20%;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: -1px;
    
}

.ubicacion {
    display: block;
    position: relative;
    color: var(--negro);
    top: 50%;
    left: 305px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}

.Iconos-cabecero {
    display: block;
    position: relative;
    color: var(--negro);
    top: 65%;
    left: 250px;
    
}

/* Estilos para los iconos de redes sociales */
/* horas ya */
/* Estilos para los iconos de redes sociales */
.Cabecero .Iconos-cabecero a {
    display: inline-block;
    transition: transform 0.3s ease;
}

/* Efecto de crecimiento al pasar el raton de las narices por encima */
.Cabecero .Iconos-cabecero a:hover {
    transform: scale(1.2);
}

/* Estilos para el menú de navegación */
.Menu-navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pistacho); /* Fondo de color verde */
}

/* Estilos para los elementos de la lista */
.Menu-navegacion ul li {
    display: inline;
    margin: 0 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: var(--negro);
    font-size: 20px;
    font-weight: bold;
    font-weight: 550;
}

/* 3 horas ya, borrar comentarios innecesarios en la revisión*/ 

/* Aquí van los estilos para los enlaces */
.Menu-navegacion ul li a {
    text-decoration: none;
    color: black; /* Color de texto por defecto */
    transition: color 0.3s ease; /* Transición del color al pasar el ratón */
    display: inline-block; /* Ajusta el tamaño del enlace al texto */
    padding: 22px; /* Ajusta el espacio alrededor del texto */
    border-radius: 0; /* Añade esquinas redondeadas para un aspecto más suave */
    text-decoration:underline ;
}

/* Ahora ponemos efecto de hover en los enlaces */
.Menu-navegacion ul li a:hover {
    background-color: black; /* Cambio de color al pasar el ratón */
    text-decoration:underline ;
    color: white; /* Cambio de color al pasar el ratón */
}

/* Y ahora el estilo para el enlace activo o seleccionado */
.Menu-navegacion ul li a.active {
    background-color: black; /* Fondo negro para el enlace seleccionado */
    text-decoration:underline ;
    color: white; /* Texto blanco para el enlace seleccionado */
}

/* Estilos para el artículo */
.Articulo1 {
    text-align: center;
    padding: 20px;
    margin: 0 auto; /* Centra el artículo horizontalmente */
}

.Titulo-central {
    color: var(--negro);
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3%;

}

.Contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px; /* Establece el ancho máximo */
    margin-top: 20px; /* Ajusta el margen superior */
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para el párrafo de texto */
.Lorem1 {
    flex: 1; /* Ocupa parte del espacio disponible */
    margin: 10px; /* Ajusta el margen */
    text-align: justify;
    font-size: 20px; /* Ajusta el tamaño de fuente */
    font-family: 'Open Sans', sans-serif;
    font-weight: 80; /* Controla el grosor de la fuente */
    
}

/* Estilos para el video mp4 (probar en otros nav) */
.video {
    flex: 1; /* Ocupa parte del espacio disponible */
    margin: 10px; /* Ajusta el margen */
    max-width: 50%; /* Limita el ancho máximo del video al 50% del contenedor */
}

/* 185 líneas y todavía voy por la mitad */ 
/* Recordatorio de borrar estas líneas de comentarios en la revisión */


/* Estilos para la sección Articulo2 */
.Articulo2 {
    display: flex;
    justify-content: center; /* Espacio entre los elementos dentro de la sección */
    background-color: var(--verde); /* Fondo verde claro */
    padding: 50px; /* Espaciado interno */
    height: 95%;
    width: 100%;
    
}

/* Estilos para el Contenedor-Ubicacion y Contenedor-Fechas */

.Contenedor-Ubicacion, .Contenedor-Fechas {
    display: inline-block;
    text-align: justify;
    font-size: 16px; /* Ajusta el tamaño de fuente */
    font-family: 'Open Sans', sans-serif;
    font-weight: 80; /* Controla el grosor de la fuente */
    margin-left: 50px; /* Espaciado izquierdo */
    margin-right: 80px; /* Espaciado derecho */
    line-height:1.8;

}

.Titulo-Ubicacion , .Titulo-Fechas {
    font-size: 20px; /* Tamaño del texto más grande */
    margin-bottom: 10px; /* Espaciado inferior */
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    
}

.Titulo-Ubicacion::after , .Titulo-Fechas::after {
    content: "";
    display: block;
    border-bottom: 5px dotted #b9d553; /* Ajusta el color y el tamaño según tus necesidades */
    margin: 10px 0; /* Ajusta el espaciado según tus necesidades */
}


.Eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Tamaño del texto más grande */
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    max-width: 800px; /* Establece el ancho máximo */
    margin-top: 20px; /* Ajusta el margen superior */
    margin-left: auto;
    margin-right: auto;
}

.dock-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto;
}

.imagen-con-texto {
    text-align: center;
    margin: 10px;
    flex: 0 0 calc(33.33% - 20px); /* Ancho del 33.33% para cada imagen con un margen */
    max-width: calc(33.33% - 20px); /* Ancho máximo para cada imagen con un margen */
    box-sizing: border-box;
}

.dock-imagenes img {
    width: calc(33.33% - 20px); /* Establecer el ancho de cada imagen con un margen */
    max-width: 100%; /* Hacer que las imágenes se ajusten al contenedor */
    height: auto;
    box-sizing: border-box;
    margin: 10px; /* Agregar un margen entre las imágenes */
    object-fit: cover; /* Ajustar la imagen para que cubra todo el contenedor */
    aspect-ratio: 16/9; /* Establecer la relación de aspecto deseada (16:9 en este caso) */
}

.imagen-con-texto img {
    display: block;
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto;
    object-fit: cover; /* Ajustar la imagen para que cubra todo el contenedor */
}

.imagen-con-texto p {
    margin-top: 5px;
    color: black;
    font-size: 16px;
}

.Pie-pagina {
    background-color: black;
    color: white;
    padding: 40px;
    font-size: smaller;
    font-weight: 100;
    font-weight: lighter;
    text-align: left
    
}


/* CSS PARA PROGRAMACIÓN.html Section - tABLA */
/* Estilos para la tabla */

.tablaPrograma table {
    width: 60%; /* Reducir el ancho de la tabla al 60% */
    border-collapse: collapse;
    text-align: center;
    margin: 10px auto; /* Reducir los márgenes superior e inferior */
    font-size: 12px; /* Mantener el tamaño de la fuente */
  }
  
  .titulo-tabla {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto; /* Reducir los márgenes superior e inferior */
    text-align: center;
  }
  
  .tablaPrograma th,
  .tablaPrograma td {
    padding: 8px 4px; /* Reducir el espaciado vertical y horizontal en las celdas */
    text-align: center;
    border: 2px solid white; /* Añadir un borde a las celdas */
  }

  /* Estilos para la cabecera principal */
  .tablaPrograma .cabeceraTabla {
    background-color: black; /* Color de fondo para la cabecera principal */
    color: white; /* Cambio de color del texto para mayor contraste */
  }
  
  /* Estilos para la subcabecera */
  .tablaPrograma .subcabeceraTabla {
    background-color: var(--pistacho); /* Color de fondo para la subcabecera */
    /* Agrega otros estilos si es necesario */
    text-align: left;
  }

  .subcabeceraTabla th {
    text-align: left;
  }
  
/* Estilos para las filas pares */
 tr:nth-child(even) {
    background-color: var(--verde); /* Color de fondo para las filas pares */
    /* Otros estilos si son necesarios */
  }
  
  /* Estilos para las filas impares */
   tr:nth-child(odd) {
    background-color: var(--blanco); /* Color de fondo para las filas impares */
    /* Otros estilos si son necesarios */
  }
  .tablaPrograma .fechaEspecial {
    background-color: white; /* Color de fondo para las fechas especiales */
}


  /* Estilos para el enlace de inscripción */
  .tablaPrograma p a {
    color: blue;
    text-decoration: underline;
  }
  
  .tablaPrograma p a:hover {
    color: darkblue;
  }

/* Estilos para las celdas de la tabla */
.tablaPrograma td {
    position: relative; /* Posición relativa para que se superponga el subrayado */
  }
  
  /* Efecto de subrayado al pasar el ratón sobre todas las filas de la tabla */
  .tablaPrograma tr:hover td {
    border-bottom: 2px solid transparent; /* Oculta el borde inferior predeterminado */
  }
  
  /* Efecto de subrayado al pasar el ratón sobre todas las filas de la tabla */
  .tablaPrograma tr:hover td::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Ubicación del subrayado */
    left: 0;
    width: 100%;
    height: 2px; /* Grosor del subrayado */
    background-color: black; /* Color del subrayado */
  }
  
  .enlace-programa {
    font-size: 16px; 
    margin-top: 10px;
    margin: 10px auto; /* Reducir los márgenes superior e inferior */
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .inscripción-enlace {
    text-decoration: underline;
    text-decoration: none;
    font-size: smaller;
    font-size: 16px;
    font-style: none;
    font-weight: initial;
  }
  

/* CSS PARA LA PARTE DE APARTADO-PROGRAMA */

.Apartado-Programa {
  position: relative;
  background-color: var(--verde);
}

.Titulo-Programa {
  padding-left: 3%;
  font-size: 30px; /* Tamaño grande */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 3%;
}

.Contenedor-Cubos {
  
  display: flex;
  justify-content: space-between; /* Espacio entre los cubos */
  position: relative;
  top: 40px; /* Ajuste la posición vertical según sea necesario */
}

.Contenedor-Dias1,
.Contenedor-Dias2 {
  flex-basis: calc(50% - 30px); /* Calcula el ancho de cada cubo */
  max-width: calc(50% - 30px); /* Establece el ancho máximo de cada cubo */
  padding-bottom: 80px; /* Añade un espacio inferior */
  font-family: 'Times New Roman', Times, serif;
  padding-left: 100px; /* Añade un espacio izquierdo */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.Contenedor-Dias1 h3, .Contenedor-Dias2 h3 {
  font-size: 20px; /* Tamaño grande */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 3%;
  padding-bottom: 3%;
  
}

.horas{
  padding: 15px 0px;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
}

.hora{  
  padding: 10px 0px;
  font-family: 'Times New Roman', Times, serif;
}

.horas .numeros {
  list-style-type: decimal;
  margin-left: 40px; /* Ajusta el margen izquierdo para la lista numerada */
}

.Contenedor-Dias1 h3 {
  display: inline;
  position: relative;
}

.Contenedor-Dias1 h3 span, .Contenedor-Dias2 h3 span {
  background-color: palegreen;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone; /* Para navegadores WebKit */
}

/* CSS para la inscripción*/

.inscripcion{
    padding: 20px 0px;
}
.inscripcion h2{
    text-align: center;
    padding: 20px 0px;
}
.inscripcion label{
    font-size: 15px;
}
fieldset{
    background-color:var(--verde);
    margin-bottom: 30px;
    padding: 20px;
}
div fieldset{
    width: 750px;
    height: 100px;
}
legend{
    color: black;
    background-color: var(--pistacho);
    border: black;
    
}

.ins_taller{
    list-style: none;
    display: inline-flex;
}
.ins_taller li{
    width: 250px;
    padding: 10px 0px;
}
.ins_taller ol{
    list-style: none;
}
.ins_taller ol > li{
    padding: 10px 0px;
    padding-right: 20px;
}
.ins_taller h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border-bottom:none;
}
input{
    margin: 10px 0;
}
form{
    margin: auto;
    width: 850px;
}
form > div{
    display: flex;
    justify-content: center;
}
.asistencia{
    list-style: none;
    display: inline-flex;
}
.asistencia li{
    width: 250px;
    padding-right: 20px;
}
button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color:var(--pistacho);
    color:black;
}
button:hover{
    background-color:black;
    color: white;
}

input:invalid,
textarea:invalid {
    box-shadow: 0 0 5px 2px rgba(249, 35, 35, 0.5); /* Sombra difuminada */
}

input:valid,
textarea:valid {
    box-shadow: 0 0 5px 2px rgb(207, 255, 134); /* Sombra difuminada */
}
